{% extends 'rango/base.html' %}

{% block title %}Adicione uma página em {{ category.name }}{% endblock title%}

{% block body_block %}
	{% if category %}
	
        <form role="form" id="page_form" method="post" action="{% url 'add_page' category.slug %}">
		    <h2 class="form-signin-heading">Adicione uma página em <a href="{% url 'category' category.slug %}"> {{ category.name }}</a></h2>

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br/>
                {{ field }}<br/>
            {% endfor %}
        
            <br/>
            <button class="btn btn-primary" type="submit" name="submit">Adicione Página</button>

        </form>
    {% else %}
		<p>Essa categoria não existe</p>
	{% endif %}
{% endblock %}
