<!DOCTYPE html>
    <html lang="en">
        <head>

            {% load staticfiles %}
            {% load rango_extras %}

            <script src="{% static "js/jquery-1.11.1.js" %}"></script>
            <script src="{% static "js/rango-ajax.js" %}"></script>

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="">
            <meta name="author" content="">

            <!--<link rel="icon" href="http://getbootstrap.com/favicon.ico">-->

            <link rel="stylesheet" type"text/css" href="{% static 'css/semantic.css'%}"/>
            <link rel="stylesheet" type"text/css" href="{% static 'css/semantic.min.css'%}">
            <link rel="stylesheet" type"text/css" href="{% static 'js/semantic.js'%}">
            <link rel="stylesheet" type"text/css" href="{% static 'js/semantic.min.js'%}">
            <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>

            <!--<link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{%  static 'css/dashboard.css' %}" rel="stylesheet">-->

            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        </head>

        <header>

            <nav>
                <!--<div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}">Rango</a>
                    </div>-->

                <div class="ui inverted segment" >
                    <div class="ui inverted secondary pointing menu">
                        <a class ="active item" href="{% url 'index' %}">Rango</a>
                        <div class="right menu">
                            {% if user.is_authenticated %}
                                <a class="item" href="{% url 'add_category' %}">Adicione uma Nova Categoria</a>
                                <a class="item" href="{% url 'restricted' %}">Página Restrita</a>
                                <a class="item" href="{% url 'users_list' %}">Usuários</a>
                                <a class="item" href="{% url 'logout' %}">Sair</a>

                            {%  else %}
                                <a class="item" href="{% url 'login' %}">Entrar</a>
                                <a href="{% url 'register' %}"class="item">Registre-se</a>

                            {% endif %}
                                <a class="item" href="https://bitbucket.org/matheus_spindola/matheus">git</a>
                                <a class="item" href="{% url 'about' %}">Sobre</a>

                            {% if user.is_authenticated %}
                                <a href="{% url 'user_profile' user.username%}"class="item">{{ user.username }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </nav>
        </header>
        <body>
            <section class="ui segment">
                <div class="ui grid">
                    <div class="three wide column">
                        {% block side_block %}
                            <div class="ui link list">
                                <form class="ui form">
                                    <!--<input  class="search-query span10" type="text" name="suggestion" value="" id="suggestion" />-->
                                    <input class="search-query span10" type="text" name="suggestion" id="suggestion" placeholder="Encontre uma categoria"/>
                                </form>
                                <div id="cats">
                                    <hr>
                                    {% get_category_list category%}
                                </div>
                            </div>
                        {% endblock %}

                    </div>
                    <div class="twelve wide column">

                        {% block body_block %}{% endblock %}
                    </div>
                </div>
            </section>
        </body>
    </html>