{% extends 'rango/base.html' %}
{% block title %}{{ category_name }}{% endblock title %}

{% block body_block %}

    <h1>{{ category_name }}</h1>
    <p>
        <strong id="like_count">{{ category.likes }}</strong> pessoas curtiram essa categoria

        {% if user.is_authenticated %}
                <button id="likes" data-catid="{{category.id}}" class="ui primary button" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Curtir
                </button>
        {% endif %}
    </p>

    {% if category %}
        <div class="ui segments">

            {% for page in pages %}
                <div class="ui secondary segment"><a href="{% url 'goto' %}?page_id={{ page.id }}">{{ page.title }}</a> ({{ page.views }})</div>
            {% empty %}
                <strong> Não existem páginas nessa categorias.</strong>
            {%  endfor %}
        </div>
        {% if user.is_authenticated %}
            </br> <a href="{%  url 'add_page' category.slug %}">Adicione uma Nova Página</a><br />
        {% endif %}
    {% else %}
        <strong>A categoria {{category_name}} não existe!</strong>
    {% endif %}

{% endblock body_block %}
