<ul class="nav nav-sidebar">
    {% for c in cats %}
        {% if c == act_cat %} <li  class="active" > {% else  %} <li>{% endif %}
        <a href="{% url 'category'  c.slug %}">{{ c.name }}</a></li>

    {% empty %}

        <li> <strong >Não há categorias presentes no momento.</strong></li>
    {% endfor %}

</ul>
