{% extends 'rango/base.html' %}

{% block title %}Login {% endblock title %}

{% block body_block %}
    <div class="ui grid">
        <div class="six wide centered column">
            <form class="ui form" role="form" method="post" action=".">

                {% csrf_token %}

                <h2 class="ui dividing header">Login</h2>
                <input class="field" placeholder="Nome do usuário" id="id_username" maxlength="254" name="username" type="text" required autofocus=""/>
                <input class="field" type="password" placeholder="Senha" id="id_password" name="password" type="password" required />
                <p>
                <button class="ui blue submit button" type="submit" value="Submit" />Login</button>
                </p>
            </form>
        </div>
    </div>

{% endblock %}
