{% extends "rango/base.html" %}

{% block body_block %}
    <div class="row placeholders">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ u.first_name}} {{ u.last_name}} {{ u.username }}</h3>
            </div>
        </div>
    </div>

    <h2>{{ u.first_name }} {{ u.last_name }}  {{ u.username }}</h2>
    <p>Email: <a href='mailto:{{ u.email }}'> {{ u.email }}</a></p>


    {% if user_profile %}
        {% if user_profile.website %}
            <p>Website: <a href="{{ user_profile.website }}" target="_blank">{{ user_profile.website }}</a></p>
            <br/>
        {% endif %}
        {% if user_profile.picture %}
            <img src="{{ user_profile.picture.url }}" />
        {% endif %}
    {% endif %}

{% endblock %}